* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav ul {
	display: flex;
	min-height: 10vh;
	padding: 1rem;
	justify-content: space-around; /* space in between each li */
	align-items: center;
}

a {
	color: black;
	text-decoration: none;
}

.hero {
	min-height: 90vh;
	background-image: url('person-using-laptop-3201071.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero h2 {
	text-align: center;
	margin: 2rem;
}

.hero button {
	padding: 1rem 2rem;
	background: rgb(154, 230, 201);
	border: none;
}

.intro {
	display: flex;
	flex-wrap: wrap;
}

.intro img {
	width: 100%;
}

.intro-img {
	flex: 1 1 30rem;
	background: lightblue;
}

.intro-text {
	flex: 1 1 30rem;
	background: rgb(255, 195, 195);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.intro-text h2 {
	padding: 2rem;
}

.intro-text p {
	padding: 1rem;
}
